<div class="list-group">
    {% for address in deliveryAddresses %}
        <label class="list-group-item">
            {% if defaultAddress is not empty and address.id == defaultAddress %}
                <input class="form-check-input me-1" type="radio" name="address" checked value="{{ address.id }}">
            {% else %}
                <input class="form-check-input me-1" type="radio" name="address" value="{{ address.id }}">
            {% endif %}
            {{ address.firstName }} {{ address.lastName }} - {{ address.addressLine1 }} {{ address.addressLine2 }}
            {{ address.city }} {{ address.state }} {{ address.postalCode }}
        </label>
    {% endfor %}
</div>
