<a href="{{ path("order_details", {id: order.id}) }}"
   class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">ID: {{ order.id }}</h5>
        <small>{{ order.createdAt|date('d-m-Y') }}</small>
    </div>
    <p class="mb-1">Status: {{ order.status }}
        amount: {{ order.getAmount(true)|format_currency("USD") }} status: {{ order.getLastPayment().getStatus() }}</p>
    <small>Order items {{ order.items.count() }}</small>
</a>
