{% extends 'base.html.twig' %}

{% block title %}gRPC SignUp{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row border-top p-xl-5 justify-content-center">
            <div class="col-6 col-auto mx-5">
                {{ form(form) }}
                <a href="#" id="autofill-form">generate sample credentials</a><br/>
            </div>
            <div class="col-6 col-auto mx-5">
                {% if grpc_responses is not empty %}
                    RPC call stack
                    <table class="table table-bordered">
                        <thead>
                        <th>Method</th>
                        <th>status code</th>
                        <th>Details (or Error)</th>
                        </thead>
                        <tbody>
                        {% for key, element in grpc_responses %}
                            <tr>
                                <td>{{ key }}</td>
                                <td id="access_token"
                                    style="word-wrap: break-word;min-width: 160px;max-width: 160px;"
                                    class="p-2">{{ element.1.code }}</td>
                                <td id="access_token"
                                    style="word-wrap: break-word;min-width: 160px;max-width: 160px;"
                                    class="p-2">{{ element.1.details }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                    Great, now we can move to next step, Confirm User Account (DOI Flow)
                    <a href="{{ path('grpc_user_verify') }}"> Confirm Account</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#autofill-form').click(function (e) {
                e.preventDefault();

                min = 100;
                max = 999999;
                result = Math.floor(Math.random() * (max - min) + min);

                $("#sign_up_email").val('interview' + result + '@interview.com');
                $("#sign_up_password_first").val('VeryG00dPass!');
                $("#sign_up_password_second").val('VeryG00dPass!');
            });
        });
    </script>
{% endblock %}
