{% extends 'base.html.twig' %}

{% block title %}gRPC SignUp{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row border-top p-xl-5 justify-content-center">
            <div class="col-6 col-auto">
                {% if previous_sign_up_data is not empty %}
                    <ul>
                        <li>{{ previous_sign_up_data.username }}</li>
                        <li>{{ previous_sign_up_data.password }}</li>
                        <li id="vCode">{{ previous_sign_up_data.vCode }}
                            <a href="#" id="copy-code">
                                <i class="fa fas fa-copy"></i>
                            </a>
                        </li>
                    </ul>
                {% endif %}
                {{ form(form) }}
                <div class="row">
                    <div class="col-md-8">
                        {% if grpc_responses is not empty %}
                            RPC call stack
                            <table class="table table-bordered">
                                <thead>
                                <th>status code</th>
                                <th>Details (or Error)</th>
                                </thead>
                                <tbody>
                                {% for element in grpc_responses %}
                                <tr>
                                    <td id="access_token"
                                        style="word-wrap: break-word;min-width: 160px;max-width: 160px;"
                                        class="p-2">{{ element.1.code }}</td>
                                    <td id="access_token"
                                        style="word-wrap: break-word;min-width: 160px;max-width: 160px;"
                                        class="p-2">{{ element.1.details }}</td>
                                </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        {% endif %}

                        {% if grpc_response is not empty %}
                            RPC response
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td>status</td>
                                    <td id="access_token"
                                        style="word-wrap: break-word;min-width: 160px;max-width: 160px;"
                                        class="p-2">{{ (grpc_response.getSuccess()) ? 'Success' : 'Failure' }}</td>
                                </tr>
                                </tbody>
                            </table>
                            {% if grpc_response.getSuccess() == true %}
                                Great, You account is now active. go to <a href="{{ path('grpc_sign_in') }}">SignIn page</a>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $( document ).ready(function() {
            $('#copy-code').click(function(e){
                e.preventDefault();
                $("#user_verify_code_verificationCode").val($('#vCode').text());
            });
        });
    </script>
{% endblock %}
