<!-- Topbar Start -->
<div class="container-fluid">
    <div class="row bg-secondary py-2 px-xl-5">
        <div class="col-lg-6 d-none d-lg-block">
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <a class="text-dark px-2" href="https://www.linkedin.com/in/rafal-salwa/" title="LinkedIn profile">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="text-dark px-2" href="https://github.com/RafalSalwa" title="Github repositories">
                    <i class="fab fa-github"></i>
                </a>
                <a class="text-dark pl-2" href="https://apps.salwa.com.pl" title="Portfolio page">
                    <i class="fa far fa-address-card"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row p-0">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="col-12 d-none d-lg-block p-0">
                    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                        {{ message|raw }}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
    </div>
    <div class="row align-items-center py-3 px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a href="{{ path('app_index') }}" class="text-decoration-none">
                <h1 class="m-0 display-5 font-weight-semi-bold"><span
                        class="text-primary font-weight-bold border px-3 mr-1">Rs</span>Shop</h1>
            </a>
        </div>
        <div class="col-lg-6 col-6 text-left">
            <form action="">
                <div class="input-group">
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-6 text-right">
            {% if app.user %}
                <a href="{{ path('cart_index') }}" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge">{{ cartService.currentCart.totalItemsCount }}</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
<!-- Topbar End -->
