<div class="col-lg-6 col-xxl-4 mb-5">
    <div class="card bg-light border-0 h-100">
        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
            <h2 class="fs-4 fw-bold mt-20 mb-20">{{ plan.name|capitalize }}</h2>
            <p class="mb-0">{{ plan.description }}<br/>
                price: {{ plan.unitPrice(true)|format_currency('USD') }}
            </p>
            {% if add_to_cart == "true" %}
                <a class="btn btn-primary" href={{ path("cart_add", {type:"plan", id: plan.id}) }}>Add to cart</a>
            {% else %}
                <a class="btn btn-primary" href={{ path("plan_details", { id: plan.id}) }}>Show</a>
            {% endif %}
        </div>
    </div>
</div>