<div class="card border-secondary mb-5">
    <div class="card-header bg-secondary border-0">
        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between pt-1">
            <h6 class="font-weight-medium">Net</h6>
            <h6 class="font-weight-medium">{{ (summary.net / 100)|format_currency('USD') }}</h6>
        </div>
        {% if summary.discount is not empty and cart.coupon is not empty and cart.coupon.isCartDiscount %}
            <div class="d-flex justify-content-between">
                <h6 class="font-weight-medium">Coupon {{ "-" ~ cart.coupon.value ~ "%" }}</h6>
                <h6 class="font-weight-medium">{{ "-" ~ (summary.discount / 100)|format_currency('USD') }}</h6>
            </div>
        {% endif %}
        <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Tax</h6>
            <h6 class="font-weight-medium">{{ (summary.tax / 100)|format_currency('USD') }}</h6>
        </div>
        <div class="d-flex justify-content-between mb-3">
            <h6 class="font-weight-medium">Subtotal</h6>
            <h6 class="font-weight-medium">{{ (summary.subTotal / 100)|format_currency('USD') }}</h6>
        </div>
        <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">
                Shipping {% if cart.coupon is not empty and cart.coupon.shippingDiscount %} (coupon) {% endif %}</h6>
            <h6 class="font-weight-medium">{{ (summary.shipping / 100)|format_currency('USD') }}</h6>
        </div>
    </div>
    <div class="card-footer border-secondary bg-transparent">
        <div class="d-flex justify-content-between mt-2">
            <h5 class="font-weight-bold">Total</h5>
            <h5 class="font-weight-bold">{{ (summary.total / 100)|format_currency('USD') }}</h5>
        </div>
    </div>
</div>
