<table class="table table-bordered text-center mb-5">
    <thead class="bg-secondary text-dark">
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        {% if data_manipulation|default(false) %}
            <th>Remove</th>
        {% endif %}
    </tr>
    </thead>
    <tbody class="align-middle items-table-body">
    {% for item in cart.items %}
        <tr data-item-id="{{ item.id }}">
            <td class="align-middle">
                {{ item.name|capitalize }}
            </td>
            <td class="align-middle">{{ (item.price / 100)|format_currency('USD') }}</td>
            <td class="align-middle">
                {% if data_manipulation|default(false) %}
                    <div class="input-group quantity mx-auto" style="width: 115px;">
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-primary btn-minus"
                                    {% if item.quantity == 1 %}disabled {% endif %}>
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <select class="form-control form-control-sm bg-secondary text-center item-quantity"
                                data-quantity="{{ item.quantity }}">
                            {% for i in 1..cart_item_capacity %}
                                <option
                                    {% if i is same as item.quantity %}
                                        selected
                                    {% endif %}
                                >
                                    {{ i }}
                                </option>
                            {% endfor %}
                        </select>
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-primary btn-plus"
                                    {% if item.quantity == cart_item_capacity %}disabled {% endif %}>
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                {% else %}
                    {{ item.quantity }}
                {% endif %}
            </td>
            <td class="align-middle">{{ (item.totalPrice / 100)|format_currency('USD') }}</td>
            {% if data_manipulation|default(false) %}
                <td class="align-middle">
                    <button class="btn btn-sm btn-primary remove-item" data-item-id="{{ item.id }}">
                        <i class="fa fa-times"></i>
                    </button>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
